
body{
    padding: 80px;
    font-family: Times New Roman;
    font-size:  18px;
    
  }
  
  img {
    width: 20%; /* Adjust as needed */
    height:  1px 2px;; /* Maintain aspect ratio */
  }
  .container{
    background-color:rgb(6, 244, 18);
    padding: 5px;
    border :  5px solid yellow;
  }
  #head1{
    padding-top:50px;
  }
  .text-edit{
    font-family:Verdena;
    font-size:20px;
  }
